{:secrets #include "/run/secrets/secrets.edn"
 :port 8999
 :postgres {:username "postgres"
            :database-name "mynewappdb"
            :host #or [#env POSTGRES_HOST "localhost"]
            :password #or [#ref [:secrets :pg-password] "postgres"]}}